<div class="action-container right float-left">

    {{#with assets}}
        <input type="button" class="blue-button margin-left float-left" onclick="goToRecipeApp()"
               data-toggle="modal"
               data-aid="{{id}}"
               data-type="{{type}}" value="{{t "Use This Integration Template"}}">
        {{#attributes }}
            <!--secondary ES publisher's url-->
            <input id="redirectUrlToRecipeApp" type="hidden" value="{{url "/.."}}/publisher/asts/dish/create_dish?resources={{overview_url}}"/>
        {{/attributes }}
    {{/with}}

</div>

<script>
    function goToRecipeApp() {
        var redirect = document.getElementById('redirectUrlToRecipeApp').value;
        window.location.href = redirect;
    }
</script>

